BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 75
BreakBeforeBraces: Linux
SeparateDefinitionBlocks: Leave
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakAfterDefinitionReturnType: true
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignConsecutiveMacros: true
SortIncludes: false
AlignEscapedNewlines: Right
MaxEmptyLinesToKeep: 2